body {
    margin: 0;
  }
  
  .dashboard-container {
    background: #ccc;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 3fr / 1fr 3fr;
  }
  
  .sidebar {
    width: clamp(250px, 25vw, 500px);
    background: #33e;
    color: white;
    position: relative;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    justify-items: center;
    align-items: center;
  }
  
  .sidebar .logo {
    background: crimson;
    height: 150px;
    width: 250px;
    align-self: start;
  }
  
  .sidebar ul {
    list-style-type: none;
    display: grid;
    grid-template: repeat(10, 1fr) / 1fr;
    justify-items: left;
    position: relative;
    left: -50px;
  }
  
  .header {
    background: #fff;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  
  .header #search-bar {
    appearance: none;
    background: #ccc;
    border-radius: 20px;
    border: none;
  }
  
  .header svg {
    height: 24px;
    width: 24px;
    align-self: right;
  }
  
  .content {
    background: magenta;
    grid-area: 2 / 2 / 3 / 3;
  }